@model WebCafePoly.Models.ChiTietPhieu

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WebCafePoly.Models.ChiTietPhieu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhieu)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSanPham)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhieuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhieuNavigation)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSanPhamNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSanPhamNavigation)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
