@model IEnumerable<WebCafePoly.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaiTro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhieuBanHangs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(model => item.Email)
            </td>
            <td>
                @Html.DisplayFor(model => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(model => item.VaiTro)
            </td>
            <td>
                @Html.DisplayFor(model => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(model => item.PhieuBanHangs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNhanVien">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaNhanVien">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNhanVien">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
