@model IEnumerable<WebCafePoly.Models.PhieuBanHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaThe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiTietPhieus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhachHangNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNhanVienNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaTheNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.MaKhachHang)
            </td>
            <td>
                @Html.DisplayFor(model => item.MaThe)
            </td>
            <td>
                @Html.DisplayFor(model => item.MaNhanVien)
            </td>
            <td>
                @Html.DisplayFor(model => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(model => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(model => item.ChiTietPhieus)
            </td>
            <td>
                @Html.DisplayFor(model => item.MaKhachHangNavigation)
            </td>
            <td>
                @Html.DisplayFor(model => item.MaNhanVienNavigation)
            </td>
            <td>
                @Html.DisplayFor(model => item.MaTheNavigation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaPhieu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaPhieu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaPhieu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
